.offerMain {
  width: 100%;
  padding-bottom: 100px;
  margin: 12rem 0rem 0rem 0rem;
}
.offerMain h1 {
  text-align: center;
  margin-bottom: 6rem;
  font-size: 2rem;
  color: #070000;
}
.posterMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.poster {
  position: relative;

  width: 100%;
  /* border: 2px solid black; */
}
.poster img {
  width: 450px;
  border: 2px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 5px #353535;
}
.posterMain div:nth-child(1) img {
  margin-left: 15rem;
}
.posterMain div:nth-child(2) img {
  margin-left: 4rem;
}
.poster img:hover {
  transition: 1s ease-in;
  transform: scale(1.1);
  border-radius: 100px;
}
.posterContent {
  position: absolute;
  top: 30rem;
  left: 23rem;
  color: white;
}
.posterContent p {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(61, 20, 24, 0.5);
  color: rgb(255, 255, 255);
  margin: 0rem 0rem 2rem -3rem;
  padding: 8px 20px 8px 20px;
}
.posterContent p:hover {
  background-color: rgb(61, 20, 24);
}
.posterButton {
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  background-color: #272932;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border: 1px solid rgb(0, 0, 0);
}

.posterButton:hover {
  cursor: pointer;
  background-color: rgb(61, 20, 24);
  color: rgb(255, 255, 255);
}

.poster:nth-child(2) .posterContent {
  top: 30rem;
  left: 13rem;
}
.poster:nth-child(2) .posterContent p {
  margin: 0rem 0rem 2rem -2.9rem;
}
.poster:nth-child(1) .posterContent p {
  margin: 0rem 0rem 2rem -5rem;
}

@media screen and (max-width: 820px) {
  .posterMain {
    flex-direction: column;
    gap: 20px;
  }
  .posterMain div:nth-child(1) img {
    margin-left: 13rem;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 13rem;
  }
  .poster img {
    width: 450px;
  }
  .posterContent p {
    font-size: 0.8rem;
  }
  .posterContent {
    top: 20rem;
    left: 19rem;
  }
  .poster:nth-child(2) .posterContent {
    top: 20rem;
    left: 20rem;
  }
  .poster:nth-child(2) .posterContent p {
    margin: 0rem 0rem 2rem -2rem;
    width: 120%;
    text-align: center;
  }
  .poster:nth-child(1) .posterContent p {
    margin: 0rem 0rem 2rem -3rem;
    width: 120%;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .poster img {
    width: 350px;
  }
  .posterMain div:nth-child(1) img {
    margin-left: 8rem;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 8rem;
  }
  .posterContent {
    top: 25rem;
    left: 15rem;
  }
  .poster:nth-child(2) .posterContent {
    top: 25rem;
    left: 15rem;
  }
  .poster:nth-child(2) .posterContent p {
    margin: 0rem 0rem 2rem -2rem;
    width: 120%;
    text-align: center;
  }
  .poster:nth-child(1) .posterContent p {
    margin: 0rem 0rem 2rem -3rem;
    width: 120%;
    text-align: center;
  }
  .posterContent p {
    font-size: 0.6rem;
  }
  .posterButton {
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .posterMain div:nth-child(1) img {
    margin-left: 0.1rem;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 0.1rem;
  }
}
