.offerMain {
  width: 100%;
  padding-bottom: 100px;
  margin: 12rem 0rem 0rem 0rem;
}
.offerMain h1 {
  margin: 0rem 0rem 6rem 10rem;
  font-size: 2rem;
  color: #412234;
}

.posterMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.poster {
  position: relative;

  width: 100%;
}
.poster:hover img {
  filter: blur(1.1px);
}
.poster img {
  width: 450px;
  border: 2px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 5px #353535;
}
.posterMain div:nth-child(1) img {
  margin-left: 15rem;
}
.posterMain div:nth-child(2) img {
  margin-left: 4rem;
  height: 603px;
}
.posterContent {
  position: absolute;
  top: 30rem;
  left: 23rem;
  color: white;
}
.posterContent p {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(61, 20, 24, 0.5);
  color: rgb(255, 255, 255);
  margin: 0rem 0rem 2rem -3rem;
  padding: 8px 20px 8px 20px;
}
.posterContent p:hover {
  background-color: rgb(61, 20, 24);
}
.posterButton {
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  background-color: #412234;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border: 1px solid rgb(0, 0, 0);
}

.posterButton:hover {
  cursor: pointer;
  background-color: rgb(61, 20, 24);
  color: rgb(255, 255, 255);
}

.poster:nth-child(2) .posterContent {
  top: 5rem;
  left: 15rem;
}
.poster:nth-child(2) .posterContent p {
  margin: 0rem 0rem 0.3rem -2.9rem;
}
.poster:nth-child(1) .posterContent p {
  margin: 0rem 0rem 0.3rem -5rem;
}
@media screen and (max-width: 1280px) and (min-width: 820px) {
  .posterMain {
    margin-left: -6rem;
  }
}
@media screen and (max-width: 820px) and (min-width: 620px) {
  .posterMain {
    flex-direction: column;
    gap: 20px;
  }
  .posterMain div:nth-child(1) img {
    margin-left: 20%;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 20%;
  }
  .poster img {
    width: 450px;
  }
  .posterContent p {
    font-size: 0.8rem;
  }
  .posterContent {
    top: 70%;
    left: 42%;
  }
  .poster:nth-child(2) .posterContent {
    top: 70%;
    left: 45%;
  }
  .poster:nth-child(2) .posterContent p {
    margin: 0rem 0rem 2rem -2.4rem;
    width: 120%;
    text-align: center;
  }
  .poster:nth-child(1) .posterContent p {
    margin: 0rem 0rem 2rem -2.7rem;
    width: 120%;
    text-align: center;
  }
}

@media screen and (max-width: 620px) and (min-width: 480px) {
  .posterMain {
    flex-direction: column;
    gap: 20px;
  }
  .poster img {
    width: 400px;
  }
  .posterMain div:nth-child(1) img {
    margin-left: 0rem;
    margin-left: 4rem;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 0rem;
    margin-left: 4rem;
    height: 410px;
  }
  .posterContent {
    top: 70%;
    left: 38%;
  }
  .poster:nth-child(2) .posterContent {
    top: 70%;
    left: 40%;
  }
  .poster:nth-child(2) .posterContent p {
    margin: 0rem 0rem 0.3rem -37%;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
  .poster:nth-child(1) .posterContent p {
    margin: 0rem 0rem 0.3rem -30%;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
  .posterButton {
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;

    font-size: 0.7rem;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .posterMain {
    flex-direction: column;
    gap: 20px;
  }
  .poster img {
    width: 320px;
  }
  .posterMain div:nth-child(1) img {
    margin-left: 0rem;
    margin-left: 12%;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 0rem;
    margin-left: 12%;
    height: 410px;
  }
  .posterContent {
    top: 16rem;
    left: 9rem;
  }
  .poster:nth-child(2) .posterContent {
    top: 16rem;
    left: 11rem;
  }
  .poster:nth-child(2) .posterContent p {
    margin: 0rem 0rem 0.3rem -37%;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
  .poster:nth-child(1) .posterContent p {
    margin: 0rem 0rem 0.3rem -30%;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }
  .posterButton {
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;

    font-size: 0.7rem;
  }
  .offerMain h1 {
    margin: -4rem 0rem 6rem 3rem;
  }
}
@media screen and (max-width: 410px) and (min-width: 320px) {
  .posterMain div:nth-child(1) img {
    margin-left: 3%;
  }
  .posterMain div:nth-child(2) img {
    margin-left: 3%;
    height: 410px;
  }
  .posterContent {
    left: 6.3rem;
  }
  .poster:nth-child(2) .posterContent {
    left: 8rem;
  }
  .poster:nth-child(2) .posterContent p {
    margin: 0rem 0rem 0.3rem -37%;
  }
  .poster:nth-child(1) .posterContent p {
    margin: 0rem 0rem 0.3rem -30%;
  }
  .offerMain h1 {
    margin: -4rem 0rem 6rem 3rem;
  }
}
