main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
main h1 {
  margin-bottom: 50px;
}
.categoriesListContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesList img {
  width: 50%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.categoriesList img:hover {
  transform: scale(1.1);
}
