main {
  margin: 100px 0px 0px 100px;
}
main h1 {
  margin-bottom: 50px;
}
.categoriesList {
  display: flex;
  align-items: center;
  gap: 90px;
  list-style: none;
}
.categoriesList li {
  /* background-color: brown;
  border: 10px solid black; */
}
.categoriesList li img {
  width: 50%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.categoriesList li img:hover {
  transform: scale(1.1);
}
.categoriesContent {
  margin-left: 2em;

  font-weight: bolder;
  align-self: baseline;
}
