.categoryCon {
  width: 100%;
  margin-top: 10rem;
  height: auto;
}
.title {
  text-align: center;
  margin-bottom: 9rem;
  font-size: 2rem;
}
.categoriesListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  list-style: none;
}
.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesList img {
  width: 50%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.categoriesList img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 620px) {
  .categoriesListContainer {
    flex-direction: column;
    gap: 5rem;
  }
  .categoryCon {
    width: 100%;
    margin-top: 4rem;
  }
  .title {
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }
  .categoriesList img {
    width: 30%;
  }
}
