.testimonialsContainer {
  position: relative;
  display: flex;
  margin-top: 10rem;
  margin: 0px 20px 0px 20px;
  gap: 10px;
}

.testimonial {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  height: auto;
}
.testimonial img {
  width: 10%;
  border-radius: 100px;
  height: auto;
}
.leftBtn,
.rightBtn {
  position: absolute;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1.8em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 10;
  background-color: transparent;
  border: none;
  transition: 0.2s ease-in-out;
}
.leftBtn:hover,
.rightBtn:hover {
  transform: scale(1.15);
}
.leftBtn {
  top: 50%;
  left: 0;
}
.rightBtn {
  top: 50%;
  right: 0;
}
.dotDiv {
  text-align: center;
  margin-top: 20px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #000000;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
