@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap");
.testimonialsContainer {
  position: relative;
  display: flex;
  /* margin-top: 10rem; */
  margin: 200px 20px 0px 20px;
  gap: 10px;
}

.testimonial {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  font-family: "Playpen Sans", cursive;
  height: auto;
}
.testimonial p {
  margin-left: 0px;
}
.testimonial img {
  width: 10%;
  border-radius: 100px;
  height: auto;
}

.slider {
  /* width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; */
  margin: 0px 200px 0px 200px;
}
