@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

.primaryNav {
  background-color: transparent;
  height: 100px;
  margin: 0px;
  font-family: "Young Serif";

  padding-top: 40px;
}
.logoContainer {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.logo {
  font-family: "Autour One";
  font-size: 2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
