@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

.primaryNav {
  position: relative;
  width: 100%;
  padding: 60px 0px 40px 0px;
  background: rgb(62, 60, 84);
  background: radial-gradient(
    circle,
    rgba(62, 60, 84, 1) 0%,
    rgba(17, 17, 31, 1) 29%
  );
  font-family: "Young Serif";
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-family: "Autour One";
  font-size: 2rem;
  color: #fff1d0;
  text-decoration: none;
}
.logoContainer {
  margin-left: 20rem;
  border: 1px solid white;
  padding: 10px 5px;
}

.cartIcon:hover {
  cursor: pointer;
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .logoContainer {
    margin-left: 10rem;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .logoContainer {
    margin-left: 9rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  .logoContainer {
    margin-left: 4rem;
  }
}
@media screen and (max-width: 480px) and (min-width: 300px) {
  .logoContainer {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 300px) and (min-width: 180px) {
  .logoContainer {
    margin-left: 1rem;
  }
}
