.secondaryNav {
  background: rgb(62, 60, 84);
  background: rgb(62, 60, 84);
  background: radial-gradient(
    circle,
    rgba(62, 60, 84, 1) 0%,
    rgba(17, 17, 31, 1) 29%
  );
  margin: 0px;
}
.secondaryNav ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
.secondaryNav ul li {
  list-style: none;
}
.listItems {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
@media screen and (max-width: 480px) and (min-width: 300px) {
  .secondaryNav ul {
    font-size: 0.7rem;
  }
}
