.secondaryNav {
  background-color: rgba(7, 0, 7, 0.9);
  margin: 0px;
}
.secondaryNav ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.secondaryNav ul li {
  list-style: none;
}
.listItems {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
