.cardContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: var(--global-margin);
}
.card {
  width: 30%; /* Adjust the width as needed, considering some space for margins or padding */
  margin-bottom: 16px; /* Optional: add some bottom margin for spacing between cards */
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}
.mainImg {
  width: 80%;
  margin-left: 30px;
  border-radius: 10px;
  position: relative;
  transition: 0.7s ease-in-out;
}
.mainImg:hover {
  transform: scale(1.1, 1.1);
}
.addToCart {
  background: #c17427;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  position: absolute;
  border: 1px none;
  position: relative;
}
@media screen and (max-width: 600px) {
  .cardContainer {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/* .arrowRight {
  position: absolute;
  top: 35%;
  left: 1%;
}
.arrowLeft {
  position: absolute;
  top: 35%;
  right: 11%;
}
.arrowRight,
.arrowLeft {
  font-size: 1.4em;
  color: rgb(133, 116, 116);
  text-decoration: none;
}
.carouselImage {
  display: none;
  width: 90%;
  border-radius: 10px;
  position: relative;
} */
