.cardContainer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
  align-items: center;
  align-content: center;
  margin: var(--global-margin);
}
.card {
  width: 30%;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}
.mainImg {
  width: 80%;
  margin-left: 30px;
  border-radius: 10px;
  position: relative;
  transition: 0.7s ease-in-out;
}
.mainImg:hover {
  transform: scale(1.1, 1.1);
}
.addToCart {
  background: #c17427;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  position: absolute;
  border: 1px none;
  position: relative;
}
@media screen and (max-width: 600px) {
  .cardContainer {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
