@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap");
.slider {
  width: 100%;
  /* margin: 10rem 0rem 0rem 0rem; */
  padding: 13rem 0rem 7rem 0rem;
  background-color: black;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  font-family: "Playpen Sans", cursive;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(61, 20, 24);
  color: #fff;
}

.swiperSlide img {
  width: 10%;
  border-radius: 100px;
  height: auto;
}
.swiperSlide h2 {
  font-size: 1.1rem;
}
.swiperSlide span {
  font-size: 0.7rem;
}
