@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
.hero {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contentContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
}
.bgImage {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 45rem;
}

.cta {
  position: absolute;
  top: 12rem;
  left: 10%;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Dosis", sans-serif;
}
.heroHeading {
  line-height: 14px;
}
.heroHeading h1 {
  font-size: 3.6rem;
}
.heroHeading h2 {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.cta p {
  font-size: 1.6rem;
  line-height: 100px;
}
@keyframes slide-in {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.cta {
  animation: slide-in 1s linear;
}
@media only screen and(min-width: 768px) and (max-width: 1024px) {
  .cta {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 621px) and (max-width: 767px) {
  .cta {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 521px) and (max-width: 620px) {
  .cta {
    font-size: 1.1rem;
    top: 34%;
  }
}
@media only screen and (min-width: 471px) and (max-width: 520px) {
  .cta {
    font-size: 1.1rem;
    top: 34%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 471px) {
  .cta {
    font-size: 0.9rem;
    top: 34%;
  }
}
