@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
.cta {
  position: absolute;
  top: 70%;
  left: 10%;
  color: rgba(245, 215, 215, 0.8);
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cta {
  animation: slide-in 3s linear;
}
